.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
}

* {
    box-sizing: border-box;
}

a {
    font-size: 16px;
    color: #5454ff;
}