.search-bar-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 75px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    z-index: 1000;
}

.logo-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
}

.search-bar-input-container {
    width: 50%;
}

#search-bar:hover {
    background-color: rgb(243, 249, 255);
}

#search-bar {
    font-size: 16px;
    color: rgb(0, 0, 1);
    background-color: rgb(247, 250, 255);
    width: 100%;
    height: 40px;
    border-radius: 7px;
    border: none;
    outline: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-position: 98%;
    padding: 1px 50px 1px 20px;
}

#logo {
    max-height: 45px;
    margin: 10px;
}

.shadow {
    -webkit-box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.07);
    box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.07);
}

.not-selectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#logo-text {
    font-size: 25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.loading {
    margin-left: 15px;
    margin-right: 15px;
}

#searchbar-error {
    font-size: 16px;
    font-weight: normal;
    padding: 0;
    margin-left: 15px;
    color: red;
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}